.vs/
*.vsidx
/OndeVaiPassar.Command/bin
/OndeVaiPassar.Command/obj
/OndeVaiPassar.Contract/bin
/OndeVaiPassar.Contract/obj
/OndeVaiPassar.Contract/bin
/OndeVaiPassar.Query/obj
/OndeVaiPassar.Query/bin
/OndeVaiPassar.Domain/obj
/OndeVaiPassar.Domain/bin
/OndeVaiPassar.Enum/obj
/OndeVaiPassar.Enum/bin
/OndeVaiPassar.Language/obj
/OndeVaiPassar.Language/bin
/OndeVaiPassar.Shared/obj
/OndeVaiPassar.Shared/bin
/OndeVaiPassar.CommandStore/bin
/OndeVaiPassar.CommandStore/obj
/OndeVaiPassar.QueryStore/bin
/OndeVaiPassar.QueryStore/obj
/OndeVaiPassar.Api/bin
/OndeVaiPassar.Api/obj
/OndeVaiPassar.Api/bin
/OndeVaiPassar.IntegrationTests/obj
/OndeVaiPassar.IntegrationTests/bin
/OndeVaiPassar.DTOs/obj
/OndeVaiPassar.Persistence/obj
/OndeVaiPassar.Api/obj/Debug/net9.0/OndeVaiPassar.Api.AssemblyInfoInputs.cache
/OndeVaiPassar.Api/obj/Debug/net9.0/OndeVaiPassar.Api.csproj.AssemblyReference.cache
/OndeVaiPassar.Command/obj/Debug/net9.0/OndeVaiPassar.Command.AssemblyInfoInputs.cache
/OndeVaiPassar.Command/obj/Debug/net9.0/OndeVaiPassar.Command.AssemblyInfo.cs
/OndeVaiPassar.Command/obj/Debug/net9.0/OndeVaiPassar.Command.assets.cache
/OndeVaiPassar.CommandStore/obj/Debug/net9.0/OndeVaiPassar.CommandStore.AssemblyInfo.cs
/OndeVaiPassar.CommandStore/obj/Debug/net9.0/OndeVaiPassar.CommandStore.AssemblyInfoInputs.cache
/OndeVaiPassar.Contract/obj/Debug/net9.0/OndeVaiPassar.Contract.AssemblyInfo.cs
/OndeVaiPassar.Contract/obj/Debug/net9.0/OndeVaiPassar.Contract.AssemblyInfoInputs.cache
/OndeVaiPassar.Contract/obj/Debug/net9.0/OndeVaiPassar.Contract.assets.cache
/OndeVaiPassar.Query/obj/Debug/net9.0/OndeVaiPassar.Query.AssemblyInfo.cs
/OndeVaiPassar.Query/obj/Debug/net9.0/OndeVaiPassar.Query.AssemblyInfoInputs.cache
/OndeVaiPassar.QueryStore/obj/Debug/net9.0/OndeVaiPassar.QueryStore.AssemblyInfo.cs
/OndeVaiPassar.QueryStore/obj/Debug/net9.0/OndeVaiPassar.QueryStore.AssemblyInfoInputs.cache
/OndeVaiPassar.Api/obj/Debug/net9.0/OndeVaiPassar.Api.assets.cache
/OndeVaiPassar.Api/obj/OndeVaiPassar.Api.csproj.nuget.dgspec.json
/OndeVaiPassar.Api/obj/OndeVaiPassar.Api.csproj.nuget.g.props
/OndeVaiPassar.Api/obj/OndeVaiPassar.Api.csproj.nuget.g.targets
/OndeVaiPassar.Api/obj/project.assets.json
/OndeVaiPassar.Api/obj/project.nuget.cache
/OndeVaiPassar.Command/obj/OndeVaiPassar.Command.csproj.nuget.dgspec.json
/OndeVaiPassar.Command/obj/OndeVaiPassar.Command.csproj.nuget.g.props
/OndeVaiPassar.Command/obj/OndeVaiPassar.Command.csproj.nuget.g.targets
/OndeVaiPassar.Command/obj/project.assets.json
/OndeVaiPassar.Command/obj/project.nuget.cache
/OndeVaiPassar.CommandStore/obj/Debug/net9.0/OndeVaiPassar.CommandStore.assets.cache
/OndeVaiPassar.CommandStore/obj/OndeVaiPassar.CommandStore.csproj.nuget.dgspec.json
/OndeVaiPassar.CommandStore/obj/OndeVaiPassar.CommandStore.csproj.nuget.g.props
/OndeVaiPassar.CommandStore/obj/OndeVaiPassar.CommandStore.csproj.nuget.g.targets
/OndeVaiPassar.CommandStore/obj/project.assets.json
/OndeVaiPassar.CommandStore/obj/project.nuget.cache
/OndeVaiPassar.Contract/obj/OndeVaiPassar.Contract.csproj.nuget.dgspec.json
/OndeVaiPassar.Contract/obj/OndeVaiPassar.Contract.csproj.nuget.g.props
/OndeVaiPassar.Contract/obj/OndeVaiPassar.Contract.csproj.nuget.g.targets
/OndeVaiPassar.Contract/obj/project.assets.json
/OndeVaiPassar.Contract/obj/project.nuget.cache
/OndeVaiPassar.Enum/obj/Debug/net9.0/OndeVaiPassar.Enum.AssemblyInfo.cs
/OndeVaiPassar.Enum/obj/Debug/net9.0/OndeVaiPassar.Enum.AssemblyInfoInputs.cache
/OndeVaiPassar.Enum/obj/Debug/net9.0/OndeVaiPassar.Enum.assets.cache
/OndeVaiPassar.Enum/obj/OndeVaiPassar.Enum.csproj.nuget.dgspec.json
/OndeVaiPassar.Enum/obj/OndeVaiPassar.Enum.csproj.nuget.g.props
/OndeVaiPassar.Enum/obj/project.assets.json
/OndeVaiPassar.Enum/obj/project.nuget.cache
/OndeVaiPassar.IntegrationTests/obj/Debug/net9.0/OndeVaiPassar.IntegrationTests.AssemblyInfo.cs
/OndeVaiPassar.IntegrationTests/obj/Debug/net9.0/OndeVaiPassar.IntegrationTests.AssemblyInfoInputs.cache
/OndeVaiPassar.IntegrationTests/obj/Debug/net9.0/OndeVaiPassar.IntegrationTests.assets.cache
/OndeVaiPassar.IntegrationTests/obj/OndeVaiPassar.IntegrationTests.csproj.nuget.dgspec.json
/OndeVaiPassar.IntegrationTests/obj/OndeVaiPassar.IntegrationTests.csproj.nuget.g.props
/OndeVaiPassar.IntegrationTests/obj/project.assets.json
/OndeVaiPassar.IntegrationTests/obj/project.nuget.cache
/OndeVaiPassar.Language/obj/Debug/net9.0/OndeVaiPassar.Language.AssemblyInfo.cs
/OndeVaiPassar.Language/obj/Debug/net9.0/OndeVaiPassar.Language.AssemblyInfoInputs.cache
/OndeVaiPassar.Language/obj/Debug/net9.0/OndeVaiPassar.Language.assets.cache
/OndeVaiPassar.Language/obj/OndeVaiPassar.Language.csproj.nuget.dgspec.json
/OndeVaiPassar.Language/obj/OndeVaiPassar.Language.csproj.nuget.g.props
/OndeVaiPassar.Language/obj/project.assets.json
/OndeVaiPassar.Language/obj/project.nuget.cache
/OndeVaiPassar.Query/obj/Debug/net9.0/OndeVaiPassar.Query.assets.cache
/OndeVaiPassar.Query/obj/OndeVaiPassar.Query.csproj.nuget.dgspec.json
/OndeVaiPassar.Query/obj/OndeVaiPassar.Query.csproj.nuget.g.props
/OndeVaiPassar.Query/obj/project.assets.json
/OndeVaiPassar.Query/obj/project.nuget.cache
/OndeVaiPassar.QueryStore/obj/Debug/net9.0/OndeVaiPassar.QueryStore.assets.cache
/OndeVaiPassar.QueryStore/obj/OndeVaiPassar.QueryStore.csproj.nuget.dgspec.json
/OndeVaiPassar.QueryStore/obj/OndeVaiPassar.QueryStore.csproj.nuget.g.props
/OndeVaiPassar.QueryStore/obj/OndeVaiPassar.QueryStore.csproj.nuget.g.targets
/OndeVaiPassar.QueryStore/obj/project.assets.json
/OndeVaiPassar.QueryStore/obj/project.nuget.cache
/OndeVaiPassar.Shared/obj/Debug/net9.0/OndeVaiPassar.Shared.AssemblyInfo.cs
/OndeVaiPassar.Shared/obj/Debug/net9.0/OndeVaiPassar.Shared.AssemblyInfoInputs.cache
/OndeVaiPassar.Shared/obj/Debug/net9.0/OndeVaiPassar.Shared.assets.cache
/OndeVaiPassar.Shared/obj/OndeVaiPassar.Shared.csproj.nuget.dgspec.json
/OndeVaiPassar.Shared/obj/OndeVaiPassar.Shared.csproj.nuget.g.props
/OndeVaiPassar.Shared/obj/project.assets.json
/OndeVaiPassar.Shared/obj/project.nuget.cache
/OndeVaiPassar.UnitTests/obj/Debug/net9.0/OndeVaiPassar.UnitTests.AssemblyInfo.cs
/OndeVaiPassar.UnitTests/obj/Debug/net9.0/OndeVaiPassar.UnitTests.AssemblyInfoInputs.cache
/OndeVaiPassar.UnitTests/obj/Debug/net9.0/OndeVaiPassar.UnitTests.assets.cache
/OndeVaiPassar.UnitTests/obj/OndeVaiPassar.UnitTests.csproj.nuget.dgspec.json
/OndeVaiPassar.UnitTests/obj/OndeVaiPassar.UnitTests.csproj.nuget.g.props
/OndeVaiPassar.UnitTests/obj/project.assets.json
/OndeVaiPassar.UnitTests/obj/project.nuget.cache
